<html>
    <body>
        <table>
            <tr>
                <td>ID</td>
                <td>Nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>livro node.js</td>
            </tr>
        </table>
    </body>
</html>