<html>
    <body>
        <table border="1px">
            <tr>
                <th>id</th>
                <th>nome</th>
            </tr>
            <tr>
                <td>1</td>
                <td>livro do node js</td>
            </tr>
        </table>
    </body>
</html>
